/* General Text and Column size */
:root {
	--sl-content-width: 65rem;
	--sl-text-5xl: 3.5rem;
}

/* Font for headers */
h1,
h2 {
	font-family: 'Bad Script', serif;
	font-weight: 800;
}

/* Main Body Test Font*/
:root {
	--sl-font: 'Playpen Sans', sans-serif;
}