---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'testLayout' }}>
  <!-- Custom page content -->
   <h1>Welcome to the Wiki</h1>
    <p>This layout is customized.</p>
</StarlightPage>