---
// Ths allows for reading of Icon names directly from src/icons
import {Icon} from 'astro-icon/components';

// Simplify route
const { entry } = Astro.locals.starlightRoute;

// Get the title from each pages frontmatter
const { title } = entry.data;

// Get the icon name form each pages frontmatter
const iconName = entry.data.icon;
---

{
    // Create a title header that consists of the icon (if availble) and title from the frontmatter. 
    <h1 id={title}> 
        {iconName && <Icon name = {iconName}/>} 
        {entry.data.title}
    </h1>
}

<style>
	@layer starlight.core {
		h1 {
			margin-top: 1rem;
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 800;
			color: var(--sl-color-white);
            /* The gap and display settings breaks text align */
            gap: 10px;
            display: flex;
		}
	}
</style>