---
const isHomepage = Astro.locals.starlightRoute.id ==='';

// import { Icon } from '@astrojs/starlight/components';
import {Icon} from 'astro-icon/components';
const { icon } = Astro.locals.starlightRoute.entry.data;

const { entry } = Astro.locals.starlightRoute;
const { title } = entry.data;
const iconName = entry.data.icon;
---

{
        <h1 id={title}>
                {iconName && <Icon name = {iconName}/>}
                {Astro.locals.starlightRoute.entry.data.title}
        </h1>
}

<style>
	@layer starlight.core {
		h1 {
			margin-top: 1rem;
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 800;
			color: var(--sl-color-white);
            /* The gap and display settings breaks text align */
            gap: 10px;
            display: flex;
		}
	}
</style>